<!doctype html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="./css/style.css">
  <script src="/sdk.js"></script>
  <script>

    let player;
    let lb;

    YaGames?.init()
      .then(ysdk => {
        console.log('Yandex SDK initialized');
        ysdk.features.LoadingAPI?.ready()
        window.ysdk = ysdk;
        initPlayer();
        create()
        initLB()
        let rpBtn = document.querySelector("#rating-btn");
        rpBtn.addEventListener("pointerdown",getLB)
      });

    function initPlayer() {
      return window.ysdk.getPlayer().then(_player => {
        player = _player;
        return player;
      });
    }

    function initLB(){
      window.ysdk.getLeaderboards()
        .then(_lb => lb = _lb);
    }

    function setLB(n){
      if(window.ysdk){
        window.ysdk.getLeaderboards()
          .then(lb => {
            lb.setLeaderboardScore('record', parseInt(n));
          });
      }
    }


    function getLB(){
      if(window.ysdk){
        window.ysdk.getLeaderboards()
          .then(lb => lb.getLeaderboardEntries("record",{
            ncludeUser: true,
            quantityAround: 3,
            quantityTop: 5
          }))
          .then(res => {
            let rp = document.querySelector("#rating");
            let rpBtnImg = document.querySelector("#rating-btn img");
            if(res.entries){
              let rpList = res.entries.map((el)=>{
                let name = el.player.publicName;
                if(player.getUniqueID() === el.player.uniqueID){
                  name = "Вы"
                }
                if (name === ""){
                  name = "Аноним."
                }
                let svgRecord = "<svg width=\"168\" height=\"50\" viewBox=\"0 0 168 53\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
                  "        <g>\n" +
                  "          <path d=\"M148 0C159.047 0 168 8.9528 168 20L168 33C168 44.0472 159.047 53 148 53L0 53L0 0L148 0Z\" fill=\"#004B6E\" />\n" +
                  "          <text transform=\"translate(5 30)\" fill=\"#FFFFFF\" >"+ el.rank +"</text>\n" +
                  "          <text transform=\"translate(20 30)\" fill=\"#FFFFFF\" >" + name + " </text>\n" +
                  "          <text transform=\"translate(110 30)\" fill=\"#FFFFFF\" >" + el.score + "</text>\n" +
                  "        </g>\n" +
                  "      </svg>"

                return svgRecord;

              }).join("")

              if(rp.innerHTML === ""){
                rp.innerHTML = rpList
                rpBtnImg.src = "./img/ratingActive.svg"
              }else {
                rp.innerHTML = "";
                rpBtnImg.src = "./img/rating.svg"
              }
            }






          })
          .catch(err => {
            if (err.code === 'LEADERBOARD_PLAYER_NOT_PRESENT') {
              // Срабатывает, если у игрока нет записи в лидерборде.
            }
          });
      }
    }


    function create() {
      if (window.ysdk) {
        initPlayer().then((res) => {
          if (res.getMode() === 'lite') {
            //console.log("Игрок не авторизован.")
          }else {
            //console.log("Игрок авторизован.")
          }
          res.getData().then((d) => {
            if(d.scores){
              document.querySelector("#record").textContent = d.scores;
            }else {
              document.querySelector("#record").textContent = "0"
            }

          });
        })

      }

    }

    function save(n) {
      let data = {scores: 0, sound: 1, effect: 1}
      data.scores = n;
      initPlayer().then((result) => {
        result.setData(data, true)
      })
    }

  </script>

</head>
<body>
<div id="menu" class="menu">
  <div id="record-panel">
    <div>
      <svg width="168" height="50" viewBox="0 0 168 53" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g>
          <path d="M148 0C159.047 0 168 8.9528 168 20L168 33C168 44.0472 159.047 53 148 53L0 53L0 0L148 0Z" fill="#004B6E" />
          <text transform="translate(5 30)" fill="#FFFFFF" >Рекорд:</text>
          <text id="record" transform="translate(60 30)" fill="#FFFFFF" >0</text>
        </g>
      </svg>
    </div>
    <div id="rating-btn">
      <img src="img/rating.svg">
    </div>
    <div id="rating">

    </div>
  </div>
  <div id="scores-panel">
    <?xml version="1.0" encoding="utf-8"?>
    <svg width="164" height="30" viewBox="0 0 164 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g>
        <path
          d="M149 0C157.285 0 164 6.7146 164 15L164 15C164 23.2854 157.285 30 149 30L15 30C6.7146 30 0 23.2854 0 15L0 15C0 6.7146 6.7146 0 15 0L149 0Z"
          fill="#004B6E"/>
        <text id="scores" transform="translate(70 20)" fill="#FFFFFF" >0</text>
      </g>
    </svg>
  </div>
  <div id="play">
    <img class="h-100" src="img/pause-btn.svg">
  </div>
</div>

<div id="pause"></div>
<div id="pause-panel">
  <div id="scopes-pause"></div>
  <?xml version="1.0" encoding="utf-8"?>
  <svg width="100%" height="100%" viewBox="0 0 500 300" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g>
      <path d="M480 0C491.047 0 500 8.9528 500 20L500 280C500 291.047 491.047 300 480 300L20 300C8.9528 300 0 291.047 0 280L0 20C0 8.9528 8.9528 0 20 0L480 0Z" fill="#004B6E" />
      <path d="M430 0C441.047 0 450 8.9528 450 20L450 250C450 261.047 441.047 270 430 270L20 270C8.9528 270 0 261.047 0 250L0 20C0 8.9528 8.9528 0 20 0L430 0Z" fill="#00648E" transform="translate(25 15)" />
      <path d="M425 0C436.047 0 445 8.9528 445 20L445 247C445 258.047 436.047 267 425 267L20 267C8.9528 267 0 258.047 0 247L0 20C0 8.9528 8.9528 0 20 0L425 0Z" fill="#041F2B" transform="translate(27 16)" />
      <path d="M420 0C431.047 0 440 8.9528 440 20L440 244C440 255.047 431.047 264 420 264L20 264C8.9528 264 0 255.047 0 244L0 20C0 8.9528 8.9528 0 20 0L420 0Z" fill="#00648E" transform="translate(30 18)" />
    </g>
  </svg>
  <div id="music">
    <img class="w-100" src="img/music.svg">
  </div>
  <input id="music-range" min="0" max="1" step="any" type="range">
  <div id="sound">
    <img class="w-100" src="img/sound.svg">
  </div>
  <input id="sound-range" min="0" value="0.5" max="1" step="any" type="range">
  <div id="restart-pause-btn">
    <img src="img/restart.svg">
  </div>
  <div id="pause-play">
    <img src="img/play-btn.svg">
  </div>
</div>
<div id="game-over">
  <?xml version="1.0" encoding="utf-8"?>
  <svg width="100%" height="100%" viewBox="0 0 500 300" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g>
      <path d="M480 0C491.047 0 500 8.9528 500 20L500 280C500 291.047 491.047 300 480 300L20 300C8.9528 300 0 291.047 0 280L0 20C0 8.9528 8.9528 0 20 0L480 0Z" fill="#004B6E" />
      <path d="M430 0C441.047 0 450 8.9528 450 20L450 250C450 261.047 441.047 270 430 270L20 270C8.9528 270 0 261.047 0 250L0 20C0 8.9528 8.9528 0 20 0L430 0Z" fill="#00648E" transform="translate(25 15)" />
      <path d="M425 0C436.047 0 445 8.9528 445 20L445 247C445 258.047 436.047 267 425 267L20 267C8.9528 267 0 258.047 0 247L0 20C0 8.9528 8.9528 0 20 0L425 0Z" fill="#041F2B" transform="translate(27 16)" />
      <path d="M420 0C431.047 0 440 8.9528 440 20L440 244C440 255.047 431.047 264 420 264L20 264C8.9528 264 0 255.047 0 244L0 20C0 8.9528 8.9528 0 20 0L420 0Z" fill="#00648E" transform="translate(30 18)" />
    </g>
  </svg>
  <div id="game-over-text">
    Попробуй еще раз!
  </div>
  <div id="restart-btn">
    <img src="img/restart.svg">
  </div>
  <div id="remove-ball-btn">
    <img src="img/removeBall.svg">
  </div>
</div>

<div id="start">
  <img src="img/play-btn.svg">
</div>
</body>
</html>
